<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../demo.css">
</head>
<body>
    <p>Ciao Pagina2</p>
    <span th:text="Prova"/>
    <p style="color:blue;font-size:160%;">This is a paragraph.</p>
    <img style="width:400px;height:200px;"src="https://www.celebritycruises.com/blog/content/uploads/2022/06/castles-in-italy-castel-nuovo-naples-cta.jpg"/>
    
    <table border="1">
        <th>MARCA</th>
        <th>MODELLO</th>
        <th>COLORE</th>
        <th>TARGA</th>
        <tr>
             <td>BMW</td>
             <td>X2</td>
             <td>ROSSO</td>
             <td>TT453WS</td>
        </tr>
        <tr>
            <td>MERCEDES</td>
            <td>A2</td>
            <td>BLUE</td>
            <td>RF567YJ</td>
       </tr>
    </table>
</body>
</html>