<html>
<head>
    <link rel="stylesheet" href="testmvc.css">
</head>
<body>
    <p >Prova01</p>
    <h1 >Titolo Lista</h1>
    <img style="width:400px;height:300px" src="https://a.cdn-hotels.com/gdcs/production12/d1130/83f1c8c6-e12d-4e69-8433-c5bbc90b5ad6.jpg"/>
    <h2>Ciaoooooo</h2>
    <h2>Ciaoooooo</h2>
    <h2>Ciaoooooo</h2>
    <h2>Ciaoooooo</h2>
<table border="1" style="padding: 10px;">
<tr>
    <td>Marca</td>
    <td>Modello</td>
    <td>Cilindrata</td>
    <td>Colore</td>
</tr>
<tbody>
    <tr>
        <td style="color:blue;font-style: italic;">BMW</td>
        <td>X1</td>
        <td>2500</td>
        <td>Nero</td>
    </tr>
    <tr style="background-color: bisque;">
        <td style="color:blue">Audi</td>
        <td>Q7</td>
        <td>2800</td>
        <td>Gialla</td>
    </tr>
</tbody>
</table>
</body>
</html>