<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="testmvc.css">
</head>
<body>

    <h1 >Titolo Lista</h1>
    <img style="width:400px;height:300px" src="https://a.cdn-hotels.com/gdcs/production12/d1130/83f1c8c6-e12d-4e69-8433-c5bbc90b5ad6.jpg"/>
    <h1>[[${risultatoBinding}]]</h1>
<table border="1" style="padding: 10px;">
<tr>
    <td>targa</td>
    <td>Marca</td>
    <td>Modello</td>
    <td>Cilindrata</td>
    <td>Colore</td>
    <td>img</td>
</tr>

<tbody>
<tr>
  <td>[[${autoBinding.targa}]]</td>
  <td>[[${autoBinding.marca}]]</td>
  <td>[[${autoBinding.modello}]]</td>
  <td>[[${autoBinding.cilindrata}]]</td>
  <td>[[${autoBinding.colore}]]</td>
  <td><img th:src="${autoBinding.img}" width="100px" height="100px"/></td>
</tr>
<tr>
    <td>[[${autoBinding.targa}]]</td>
    <td>[[${autoBinding.marca}]]</td>
    <td>[[${autoBinding.modello}]]</td>
    <td>[[${autoBinding.cilindrata}]]</td>
    <td>[[${autoBinding.colore}]]</td>
    <td><img th:src="${autoBinding.img}" width="100px" height="100px"/></td>
  </tr>
  <tr>
    <td>[[${autoBinding.targa}]]</td>
    <td>[[${autoBinding.marca}]]</td>
    <td>[[${autoBinding.modello}]]</td>
    <td>[[${autoBinding.cilindrata}]]</td>
    <td>[[${autoBinding.colore}]]</td>
    <td><img th:src="${autoBinding.img}" width="100px" height="100px"/></td>
  </tr>

</tbody>
</table>
</body>
</html>